/* Quando se quer formatar uma tag, precisa-se apenas chamar o nome da tag, porém quando se chama uma classe, se coloca um ponto ".", antes do nome da classe. */

.vickbody { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30px 30px;
    padding-bottom: 45;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(rgb(110, 241, 241), rgb(250, 248, 133), rgb(241, 144, 250));
}

.vickheader {
    background-image: url(faixaarco1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99%;
    padding: 20px;
    text-align: center;
}

.vicknav {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(93, 45, 224);
    overflow: hidden;
    text-align: center;
    padding: 25 px;
    height: 50px;
}

.vicknav a {
    float: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    
}



.vicknav ul {
    text-align: center;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.vicknav ul ul{
  position: absolute;
  visibility: hidden;
}



.vicknav ul li {
    text-align: center;
    width: 260px;
    float: left;
    list-style: none;
    background-image:linear-gradient(rgb(36, 255, 255), rgb(240, 237, 64), rgb(247, 58, 99));
    visibility: visible;
}

.text1 {
    display: block;
    background-color: rgb(194, 196, 247);
    size: 200 px;
    width: 1055px;
}



.vickdivtext1{

    width: 100%;
    background-color: rgb(221, 155, 155);

}

.vickopiniao1 {
    text-align: center;
    display: table-cell;
    float: left;
    width: 50%;
    margin-left: 60%;
    background-color: rgb(255, 231, 231);
    box-align: auto;
    font-style: italic;
}

.vickdivtext2{
    display: flex;
    float: left;
    width: 60%;
    margin-top: -245px;
    background-color: rgb(166, 209, 156);

}

.vickdivtext3{
    display: table-cell;
    background-color: rgb(155, 181, 221);
    width: 60%;
    margin-top: 200px;

    
}

h1 {
    text-align: center;
    color: rgb(204, 39, 245);
}

h2{
    text-align: center;
    color: rgb(39, 26, 212);
}
h3{
    color: rgb(0, 0, 0);
}

 a {
    color: rgb(255, 230, 0);
}

.conh3 {
    margin-left: 70%;
    float: left;
    color: floralwhite;
}




.visaobody { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30px 30px;
    padding-bottom: 45;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(rgb(110, 241, 241), rgb(250, 248, 133), rgb(241, 144, 250));
}

.visaoheader {
    background-image: url(faixaarco1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99%;
    padding: 20px;
    text-align: center;
}

.visaonav {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(93, 45, 224);
    overflow: hidden;
    text-align: center;
    padding: 25 px;
    height: 50px;
}

.visaonav a {
    float: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    
}



.visaonav ul {
    text-align: center;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.visaonav ul ul{
  position: absolute;
  visibility: hidden;
}



.visaonav ul li {
    text-align: center;
    width: 260px;
    float: left;
    list-style: none;
    background-image:linear-gradient(rgb(36, 255, 255), rgb(240, 237, 64), rgb(247, 58, 99));
    visibility: visible;
}





.visaoopiniao2{
    text-align-last:auto ;
    width: 70%;
    background-color: cadetblue;
}

.visaotext1{
    background-color: cornflowerblue;
}

.visaotext2{
    display: flex;
    float: left;
    width: 60%;
    margin-top: -125px;
    width:60% ;
    background-color: darkgray;
}

.visaoopiniao3{
    margin-top: auto;
    text-align: center;
    display: table-cell;
    float: left;
    width: 45%;
    margin-left: 60%;
    background-color: darkolivegreen;
}

.visaotext3{
    margin-top: auto;
    text-align: left;
    display: table-cell;
    float: left;
    background-color: darkorange;
}

.visaotext4{
    
    text-align: center;
    display: table-cell;
    float: left;
    margin-top:  auto;
    background-color: darkslateblue;
}



.Rob_aside {
    width: 28%;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 120px;
    float: right;
    font-style: italic;
    background-color: rgb(77, 70, 99);
    border: rgb(45, 6, 95);
    border-style: double;
}

.Rob_aside_filial {
    width: 22%;
    padding-right: 15px;
    margin-right: 5px;
    margin-top: 20px;
    float: right;
    font-style: Normal;
    background-color: rgb(77, 70, 99);
    border: rgb(45, 6, 95);
}

.Rob_h1 {
    /*text-shadow: 0.1em 0.1em 0.2em black;               */
    /*Esfumaçãdo*/
    /*text-shadow: 0.1em 0.1em 0.05em #333;               */
    /* sombra */
    /*color: white; text-shadow: black 0.1em 0.1em 0.2em; */
    /* Branco com sombra*/
    /*text-shadow: -2px -2px rgb(230, 35, 22), 2px 2px rgb(29, 10, 112);         */
    /* Alto relevo*/
    text-shadow: 2px 2px white, -2px -2px #444;
    /* Baixo relevo*/
}
