/* Quando se quer formatar uma tag, precisa-se apenas chamar o nome da tag, porém quando se chama uma classe, se coloca um ponto ".", antes do nome da classe. */

.vickbody { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30px 30px;
    padding-bottom: 45;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(rgb(110, 241, 241), rgb(250, 248, 133), rgb(241, 144, 250));
  
}

.vickhearder {
    background-image: url(faixaarco1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99%;
    padding: 20px;
    text-align: center;
}

.vicknav {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(93, 45, 224);
    overflow: hidden;
    text-align: center;
    padding: 25 px;
    height: 50px;
}

.vicknav a {
    float: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    
}



.vicknav ul {
    text-align: center;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.vicknav ul ul{
  position: absolute;
  visibility: hidden;
}



.vicknav ul li {
    text-align: center;
    width: 260px;
    float: left;
    list-style: none;
    background-image:linear-gradient(rgb(36, 255, 255), rgb(240, 237, 64), rgb(247, 58, 99));
    visibility: visible;
}

.text1 {
    display: block;
    size: 200 px;
    width: 1055px;
}



.vickdivtext1{

    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.vickopiniao1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin-left: 60% ;
    color: crimson;
     
}

.vickdivtext2{
    display: flex;
    float: left;
    width: 60%;
    margin-top: -245px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vickdivtext3{
    
    width: 100%;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1 {
    text-align: center;
    color: rgb(204, 39, 245);
}

h2{
    text-align: center;
    color: rgb(39, 26, 212);
}


.h3vick1{
    color: #fa4b4b;
    border-color: rgb(0, 0, 0);
}


.h3sobre1{
    color: rgb(224, 139, 28);
}


 .h3sobre2{
    color: rgb(126, 134, 15);
}

.h3sobre3{
    color: rgb(20, 240, 0);
}


.h3visao1{
    color: rgb(8, 236, 236);
    
}


.h3visao2{
    color: rgb(30, 44, 243); 
}

.FIMFOOTER{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.fimm{
 text-align: center;
 background-color: rgb(243, 240, 42);
 color: blueviolet;
}

h4{
   color: crimson;
}

a {
    color: rgb(5, 72, 150);
}

.conh3 {
    margin-left: 70%;
    float: left;
    color: floralwhite;
}




.visaobody { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30px 30px;
    padding-bottom: 45;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(rgb(110, 241, 241), rgb(250, 248, 133), rgb(241, 144, 250));
}

.visaoheader {
    background-image: url(faixaarco1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99%;
    padding: 20px;
    text-align: center;
}

.visaonav {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(93, 45, 224);
    overflow: hidden;
    text-align: center;
    padding: 25 px;
    height: 50px;
}

.visaonav a {
    float: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    
}



.visaonav ul {
    text-align: center;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.visaonav ul ul{
  position: absolute;
  visibility: hidden;
}



.visaonav ul li {
    text-align: center;
    width: 260px;
    float: left;
    list-style: none;
    background-image:linear-gradient(rgb(36, 255, 255), rgb(240, 237, 64), rgb(247, 58, 99));
    visibility: visible;
}





.visaoopiniao2{
    text-align-last:auto ;
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.visaotext1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.visaotext2{
    display: flex;
    float: left;
    width: 60%;
    margin-top: -125px;
    width:60% ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.visaoopiniao3{
    margin-top: auto;
    text-align: center;
    display: table-cell;
    float: left;
    width: 45%;
    margin-left: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.visaotext3{
    margin-top: auto;
    text-align: left;
    display: table-cell;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.visaotext4{
    
    text-align: center;
    display: table-cell;
    float: left;
    margin-top:  auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sobrebody { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30px 30px;
    padding-bottom: 45;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(rgb(110, 241, 241), rgb(250, 248, 133), rgb(241, 144, 250));
}

.sobreheader {
    background-image: url(faixaarco1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99%;
    padding: 20px;
    text-align: center;
}

.sobrenav {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(93, 45, 224);
    overflow: hidden;
    text-align: center;
    padding: 25 px;
    height: 50px;
}

.sobrenav a {
    float: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    
}



.sobrenav ul {
    text-align: center;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.sobrenav ul ul{
  position: absolute;
  visibility: hidden;
}



.sobrenav ul li {
    text-align: center;
    width: 260px;
    float: left;
    list-style: none;
    background-image:linear-gradient(rgb(36, 255, 255), rgb(240, 237, 64), rgb(247, 58, 99));
    visibility: visible;
}

.sobreopiniao1{
    margin-top: auto;
    text-align: center;
    display: table-cell;
    float: left;
    width: 40%;
    margin-left: 68%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.sobretext1{
    margin-top: auto;
    margin-bottom: -10% ;
    float: left;
    width: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sobreopiniao2{
    margin-left: 70%;
    width: 35%;
    float: left;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobretext2{
    width: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sobreopiniao3{
    margin-top: -3%;
    margin-left: 48%;
    display: table-cell;
    width: 60%;
    float: left;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sobretext3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.fimbody { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 30px 30px;
    padding-bottom: 45;
    padding-left: 95px;
    padding-right: 95px;
    background-image: linear-gradient(rgb(110, 241, 241), rgb(250, 248, 133), rgb(241, 144, 250));
}

.fimheader {
    background-image: url(faixaarco1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 99%;
    padding: 20px;
    text-align: center;
}

.fimnav {
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(93, 45, 224);
    overflow: hidden;
    text-align: center;
    padding: 25 px;
    height: 50px;
}

.fimnav a {
    float: none;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    
}



.fimnav ul {
    text-align: center;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.fimnav ul ul{
  position: absolute;
  visibility: hidden;
}



.fimnav ul li {
    text-align: center;
    width: 260px;
    float: left;
    list-style: none;
    background-image:linear-gradient(rgb(36, 255, 255), rgb(240, 237, 64), rgb(247, 58, 99));
    visibility: visible;
}



.fimtext1{
    margin-bottom: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fimopiniao2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    margin-left: 68%;
   color: rgb(226, 43, 186);
}

.fimtext2{

    margin-top: -8% ;
    width: 65%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fimopiniao3{
    margin-top: -1% ;
    margin-right: 62%;
    width: 85%;
   color: blueviolet;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fimtext3{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.Rob_aside {
    width: 28%;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 120px;
    float: right;
    font-style: italic;
    background-color: rgb(77, 70, 99);
    border: rgb(45, 6, 95);
    border-style: double;
}

